<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njnu.edu.back.dao.psql.DownloadHistoryMapper">
    <select id="pageQuery" resultType="java.util.Map">
        select id, user_id as "userId", download_time as "downloadTime", ip, data_list_id as "dataListId", file_id as "fileId"
        from download_history
        where data_list_id = #{dataListId}
        order by download_time asc
        limit #{size} offset #{start};
    </select>

    <select id="countPageQuery" resultType="java.lang.Integer">
        select count(*) from download_history where data_list_id = #{dataListId}
    </select>
</mapper>